h1 {
    font-style: italic;
    text-decoration: underline;
    color: cornflowerblue;
    font-weight: bold;
}

#HeaderBG {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
}