body {
    
    background-color: violet;
    
}

h1{
    text-align: center;
    text-decoration-line:underline ;
    color: #330066;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    

}

h2{
    text-align: center;
    color:#3300FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    font-style: oblique;
    

}

#no1{
    text-align: center;
    font-size: 150%;
    color:#FF0000;
    font-style: italic;
    
    font-weight: bold;

}

