body {
    
    background-color: palevioletred;
    
}

h1{
    text-align: center;
    text-decoration-line:underline ;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    

}

h2{
    text-align: center;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    

}

p{
    text-align: left;
    color:#663300;
    font-style: italic;

}
#l1{
    text-align: left;
    color:#CC3300;
    font-weight: bold;

}

.l2{
    text-align: left;
    color:#CC0000;
    text-decoration-line:underline ;

}
