body {
    
    background-color: #FF9933;
    
}
h1{
    text-align: center;
    text-decoration-line:underline ;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    

}

table{
background-color: tomato;

}

th{
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    background-color: #FF3300;
}

